.blogpost {
  background-color: var(--color-white1);
}
.blogpost-img-container {
  max-height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.blogpost-img-container img {
  padding: 0 4rem 4rem;
}


.blogpost-main-container h3 {
  padding-bottom:2rem;
  border-bottom: 1px solid var(--color-white2);
  margin-left: 8rem;
  margin-right: 8rem;
}
.blogpost-main-container article {
  padding-top: 1rem;
  padding: 0 8rem 4rem;
}
.blogpost-main-container h2 {
  padding-top: 1rem;
}

.contact-main-container {
  background-color: var(--color-white2);
}

.contact-main-container .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.contact {
  display: flex;
  box-sizing: border-box;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.contact figure {
  width: 10rem
}

.contact div {
  align-self: flex-end;
  padding-left: 1rem
}
.contact p {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.1rem;
}
.contact a {
  color: var(--color-primary2);
  font-size: 1.3rem;
  border-bottom: 1px solid var(--color-primary2);
}