/*
  --color-primary1: #61f2f5;
  --color-primary2: #434a54;
  --color-white1: #e6e9ed;
  --color-white2: #ccd1d9;
  --color-dark: #23282d;
  --color-grey: #656d78;
  --color-secondary1: #ac92ec;
  --color-secondary2: #a0d468;
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%; /* 1em = 10px */
  background-color: var(--color-primary2);
  font-family: var(--font3);
}
a {
  text-decoration: none;
  display: inline;
  color: var(--color-white1);
}
p {
  font-size: 1.5rem;
  font-family: var(--font1);
  color: var(--color-primary2);
  line-height : 2rem;
  margin-bottom: 2.2rem;
  text-overflow: ellipsis; 
}
img {
  width: 100%;
}
h2 {
  font-size: 3rem;
  margin-bottom: .7em;
  letter-spacing: 2px;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.7rem;
  padding: 2rem 0;
}
button {
  background: var(--color-primary1);
  font-weight: bold;
  padding: 1.4rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: var(--font3);
}
button.outline {
  background: transparent;
  padding: 1rem 3rem 1rem 1.5rem;
  border: 1.5px solid var(--color-primary1);
  font-weight: normal;
  font-size: 1.2rem;
}
button.outline:hover {
  background: var(--color-primary1);
}
.grid-container {
  max-width: 980px;
  margin: auto;
  box-sizing: border-box;
}