header {
  width: 100%;
  position: absolute;
  
}
header .header-icons-container {
  background-color: var(--color-primary1);
  height: 4rem;
  padding-right: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header-icons-container .icons {
  margin: .1rem;
}
header .header-icons-container .icons .icon {
  color: white;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-right: 3rem;
  padding-bottom: 1rem;
}
header nav .profile-link {
  display: flex;
  align-items: center;
}
header nav .profile-link a {
  color: var(--color-white1);
  font-size: 2rem;
  border-bottom: 1px solid var(--color-white1);
}
header nav .nav-logo-container {
  max-width: 25rem;
}

/* ----hero---- */
.hero {
  background-image: url('../../assets/img/Cover.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-1);
}
.hero .hero-content {
  padding-top: 10em;
  max-width: 500px;
  text-align:center;
  color: var(--color-white1);
  letter-spacing: 1px;
}
